---
import "../styles/global.css";
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Film Nội Thất</title>
  </head>

  <body class="bg-base-50 text-base-900">
    <slot />
  </body>
</html>
